[2019-05-23 16:23] michstrauch opened #1 "Invalid multibyte string using R 3.6.0"
Using R version 3.6.0, I get the following error message when running the FAST sensitivity analysis for a SWAT2012 project (code below):

Error in substr(., 1, 16) : invalid multibyte string, element 20

Using R 3.5.2, however, works. Just to let you know that there is a problem with the newest version ;)

R code:

par_names <- c("GW_DELAY.gw | change = absval",
               "OV_N.hru | change =

[2019-05-24 09:53] chrisschuerz commented on #1
I was able to reproduce the error. It seemed to be a problem with special characters in the function `substr()` that now occurs with R3.6.0, but was not present in older R versions. I fixed the problem by replacing `substr()` with `stringr::str_sub()` that does not show this issue. I updated some other small issues together with that. That issue should be solved now in SWATplusR 0.2.6.9000. I fixe

[2019-05-24 09:53] #1 closed

[2019-06-10 01:37] earthcli opened #2 "requirement of reading output.rch"
It is seems a great package.
While I am searching a package for speeding reading output.rch now.
How can I use this package to achieve this? I mean I have done the simulation and resulted in a 1.2G big file of output.rch at daily scale, it takes 2 hours to read and wrap the file. I want to speed it with your package, how should I do?
Thanks.

[2019-07-11 07:38] chrisschuerz commented on #2
I am not sure if SWATplusR provides a direct solution to your problem, as it only reads the outputs AFTER executing the SWAT model. Concerning reading out the output files I did not benchmark the routines with such large output files (at least for SWAT2012). In SWATplusR I use `readr::read_fwf` to read fixed width format tables. It seems to be quite efficient. Though you could also have a look int

[2019-07-22 08:01] chrisschuerz opened #3 "Returning simulated outputs with SWAT2012 rev670 (and maybe lower)"
A colleague encountered an issue with returning the simulated output when executing the following lines of code using the SWAT2012 rev670 executable instead of the rev622 execultable in the demo data set of SWATdata:

[code]

It returns the following message in the  console:

[code]

[2019-07-22 12:41] chrisschuerz commented on #3
The issue is a result of shifts in headers and values of the output tables between SWAT2012 revisions. The routine for reading output files is now completely restructured to cover all specific differences in the output files.
This change is now implemented in the development version SWATplusR 0.2.7.9001 and will be updated in the master branch with the next release 0.2.7 in the next days as this i

[2019-07-22 14:57] #3 closed

[2019-08-21 11:48] chrisschuerz opened #5 "Error message with SWAT+ rev59.3: "task 1 failed - "Columns `1`, `2`, `3`, `4`, `5`, ... cannot have NA as name""
The following minimum example causes the error:

[code]

[2019-08-21 12:18] chrisschuerz commented on #5
This error was caused due to a row shift of the first 7 column names in specific output files (e.g. basin_res) when using the SWAT+ rev59.3 executable. In this case the column names of the first 7 columns were written in the unit row and therefore not correctly read when reading the output files. This is now fixed in the development version SWATplusR 0.2.7.9002 and will be available from the next

[2019-08-21 12:45] #5 closed

[2019-11-11 02:20] jsacerot opened #7 "Issue installing SWATplusR from github repository"
I'm facing the problem below. Could you please guide me on how to fix it? I'll appreciate it. Thanks!

Error: .onLoad failed in loadNamespace() for 'pkgload', details:
  call: loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]])
  error: there is no package called ‘backports’

Error: .onLoad failed in loadNamespace() for 'pkgload', details:
  call: loadNamespace(i, c(lib.loc, .libPath

[2019-11-11 08:12] chrisschuerz commented on #7
Hi,

according to your error message, you do not have the package ``backports`` installed. ``SWATplusR`` does not require that, but it seems as ``devtools`` would require that. So try:

[code]

Hope that does the trick. If you see any similar errors with other packages try the same.

Cheers Christoph

[2019-11-13 02:59] #7 closed

[2020-01-18 12:25] rafaelnavas opened #8 "HRU output SWAT2012"
I have problems to obtain HRU outputs with "run_swat2012". I`m using the next command line:

q_sim <- run_swat2012(project_path = swat_dir,
                      start_date = "2009-01-01",
                      end_date = "2010-12-31",
                      years_skip = 1,
                      output = define_output(file="hru",
                                             variable = "ETmm",

[2020-01-20 08:32] chrisschuerz commented on #8
Hi thanks for posting the issue. I will try to have a look into that by mid of this week.

[2020-01-21 16:58] chrisschuerz commented on #8
Hi Rafael,

I finally found time today, to look into your issue. Indeed there were some problems with reading the HRU output table, particularly with the most recent Revision of SWAT2012. I fixed and tested the issue with a minimum example. It should work now. So please just reinstall `SWATplusR` it should be Version 2.8.9003 now and test it. Just let me know if you run into the same or other trou

[2020-01-21 16:58] #8 closed

[2020-01-22 17:07] rafaelnavas commented on #8
Hi Cristoph,
The problem seems to be solved.
Note that Library"stringr" need to be added to allow the use of function "str_remove" in the new Version 0.2.8.9003.
Thank you

[2020-01-23 08:44] chrisschuerz commented on #8
Hi Rafael,

thanks I guess I forgot to add the function `str_remove` to the functions that are loaded with the output read function call. I will fix that in the the next version 0.2.8.9004 but anyways good that the HRU reading now works!

[2020-03-02 17:10] rafaelnavas opened #9 "Error with some output of "rch""
Dear Chris,

I'm trying to obtain "TOT N" (total nitrogen in surface runoff) and "TOT P" (total phosphorous in surface runoff) from output/file "rch".

I test with my SWAT2012 model and your demo. Both projects deliver the next error message:

swat_dir = "C:/swat2012_rev622_demo/"
qsim = run_swat2012(project_path = swat_dir,
                    start_date = "2005-01-01",
                    end_da

[2020-03-02 18:15] chrisschuerz commented on #9
Hi Rafael,

to avoid blanks I implemented the variable names in a way that you have to replace blanks by underscores. So in your case the variables should be: "TOT_N" and "TOT_P". I hope that this is still working, as I had to update the routines for reading the parameter names, due to other issues. So please try that and keep me posted if it does not work.

Cheers, Christoph

[2020-03-02 19:08] rafaelnavas commented on #9
It works
Thank you,

[2020-03-03 09:17] #9 closed

[2020-03-24 19:09] josevalles7 opened #10 "Monthly output_interval in run_swat2012"
Hi there,

I´ve been exploring your SWATPlusR and have encounter a problem in demo version that i am running.

When I run the following code:
`q_sim_2012 <- run_swat2012(project_path = path_2012, output = define_output(file = "rch", variable = "FLOW_OUT", unit = 1:3), output_interval = "m", years_skip = 1)`

it provides the following error:

Building 1 thread in './Documents/R/swat2012_rev622_demo

[2020-03-24 20:16] chrisschuerz commented on #10
Hi Jose,

I remembered that one other SWATplusR user reported that issue some while ago (although via email) so it is not reported here. I should have fixed that issue already. I just tested your code on my computer and it actually worked. Could you tell me what version of SWATplusR and what SWAT2012 revision (if it is different to the one included in the demo  you were using?

Cheers,
Christoph

[2020-03-25 12:11] Svenja-vS opened #11 "modify one parameter several times in one run"
Hello,

At the moment I am facing the problem that I want to change on parameter (CN2) that I want to modify depending on the regional land use.
See example below:

`par_mod <- tibble ("CN2.mgt|change = absval| luse %in% 'PINH'" = 60,
                                "CN2.mgt|change = absval| luse %in% 'EUCO'" = 55)`

I got the following error message:
`Error in translate_parameter_constraints(name

[2020-03-25 12:12] josevalles7 commented on #10
Hi Christoph,

Thank you for you reply. I am using the SWATplusR_0.2.7 version and the revision is not different from the one included in your demo,

Could it be something related to the date format?

let me know if you need more info. You can contact me via email if you would like

Regards

[2020-03-25 14:03] chrisschuerz commented on #10
I fixed the issue with version 0.2.8.9002. So please update SWATplusR simply running the code to install again:

[code]
This should fix the issue. Please check the SWATplusR version afterwards. It should be 0.2.8.9004 now.

[2020-03-25 14:09] chrisschuerz commented on #11
Hi,

for the function the two parameters do have the same name. Actually, they are two different parameters e.g. `cn2_pinh` and `cn2_euco`. Therefore you have to assign two unique names to them. Please see the [Getting started](https://chrisschuerz.github.io/SWATplusR/articles/SWATplusR.html#model-parameter-alteration) page of SWATplusR to see how to do that. A minimum example for that would be:

[2020-03-25 14:38] josevalles7 commented on #10
Thanks!! I really appreaciate it

I updated the SWATplusR to the newest version and it works perfectly.

[2020-03-25 14:38] #10 closed

[2020-03-25 16:29] Svenja-vS commented on #11
Hello,
thanks that works of course.
Svenja

[2020-03-26 16:46] #11 closed

[2020-04-08 12:47] NicoDallaLibera opened #12 "Problem during SWATplusR installation"
Dear  Christoph,

I'm trying to install your SWATplusR packages in R (R version 3.5.2 (2018-12-20) -- "Eggshell Igloo") but I keep facing the following errors/warnings.

Please let me know how to solve this problem.

Thanks so much.

Best regards

Nico

**> install.packages("devtools")
Error in install.packages : Updating loaded packages

Restarting R session...

WARNING: Rtools is required to bui

[2020-04-11 13:43] chrisschuerz commented on #12
Hi Nico,

I am sorry that I did not respond earlier. This Error is odd. I am not sure if it is directly related to `SWATplusR`. Have you tested installing any other packages from GitHub with `devtools`? Did it work?

Cheers
Christoph

[2020-04-11 22:38] heomal commented on #12
Hi Nico,

You need to download and install  Rtools on your machine. After that, it should work.

Heou Maleki

[2020-04-11 23:04] heomal opened #13 "Issue with optimization"
Hi Christoph

After successully running a SWAT+ model, I have been testing the optimization but noticed that it always returns the initial values as optimal parameters wether I use BFG or SCE. The results of optimization only change when I change the initial values. It doesn't seem to search for optimal parameters within the specifies intervals.
Could you help on this?

Thanks in adavance.

Heou M

[2020-04-12 08:20] NicoDallaLibera commented on #12
Hi Christoph,
This is not the first time I install packages from github but it's the
first time I run into that kind of error. Could it be related to the newer
version of R? When I installed the other packages I was running a lower
version of R, for sure. At this time, I've not installed Rtool on my laptop
but I know that it's not neccessy unless to develop a new package, and this
is not the case.

[2020-04-12 10:50] MalekiB commented on #12
I may be wrong but having had the same issue, I could install SWATPlusR successfully after installing Rtools on my machine. On a virtual machine I am also using and which has the latest version of R and RStudio, SWATPlusR was installed without this error.
I know Rtools is for package development but I also know that devtools has so many dependencies and for some oldr versions, it requires Rtools.

[2020-04-12 11:39] NicoDallaLibera commented on #12
Dear Heou,
Thanks for your suggestion. I will try to follow it.

Cheers

Ph.D. Geol. Nico Dalla Libera
(sent from mobile)

Il dom 12 apr 2020, 12:50 MalekiB <notifications@github.com> ha scritto:

[2020-04-12 18:51] chrisschuerz commented on #12
Hi Heou,

yes you might be right with Rtools. Testing the installation on Windows machines worked worked also without having Rtools. But it is worth trying, particularly as Nico gets the warning of not having Rtools instlalled.

Cheers Christoph

[2020-04-13 15:19] chrisschuerz commented on #13
Hi,

have you checked already if the parameter changes work effectively in your model setup? There is unfortunately the issue with SWAT+ that parameter calibration is not working if you set up the model with the SWAT Editor but did not perform any parameter changes with the Editor. To fix this you have to manually the "chg" line in the file.cio as Jaclyn and I have already posted here: https://gro

[2020-04-15 16:58] MalekiB commented on #13
Hi Christoph,

Thanks for your reply and suggestion.
I have checked and there was that problem in the file.co. I have changed the line as raised by Jaclyn but the problem still persists.
I will now try with SWAT instead of SWAT+ and see if this problem occurs.
Thanks.

Heou

[2020-04-18 16:39] rafaelnavas opened #14 "Running a modified version of a SWAT2012 project"
Hi Chris, I want to run a modified version of a SWAT2012 project with your package.

First, I modify & save the SWAT project as follows:

par_single1 <- c("cn2.hru|change = pctchg" = - 5,
                "alpha.gw|change = absval" = 0.5)

run_swat2012(project_path = "C:/swat2012_rev622_demo",
             output = define_output(file = "rch",
                                    variable = "FLOW_OUT

[2020-04-20 08:44] chrisschuerz commented on #14
Hi Rafael,

I think there are several thinks to clarify in your code:

- **Parameter definition**:
You defined CN2 and ALPHA for SWAT2012 as follows:
`par_single1 <- c("cn2.hru|change = pctchg" = - 5,
"alpha.gw|change = absval" = 0.5)`
The used names are however the parameter names in SWAT+.
The correct definition is as follows:
`par_single1 <- c("CN2.mgt|change = pctchg" = - 5,
"ALPHA_BF.gw|chang

[2020-04-21 17:10] rafaelnavas commented on #14
Hi Chris,
Answering your question. Basically I have 3 things in my mind:

1. Sequential Calibration: e.g. Calibrate first upstream, then downstream adding some constraints. Of course, we can do that with the parameters obtained from the 1st calibration. However, could be more simple if we can save the optimized version of the model on the 1st optimization trial.

2. Sharing the model: In some case

[2020-04-28 18:01] AndresSaracho opened #15 "Error in if (revision < 57)"
Does my regional configuration is causing this problem?

+                  output = define_output(file = "channel",
+                                         variable = "flo_out",
+                                         unit = 1))
Building 1 thread in 'E:/demo/swatplus_rev57_demo/.model_run':
 Completed 1 thread in 1S
Error in if (revision < 57) { : argumento tiene longitud cero
Además: Warning

[2020-05-05 09:13] chrisschuerz commented on #15
Hi Andres,

I am not so sure if the locale causes the issue (I think it only results in warnings that do not have an impact). The error itself is caused by checking which revision number of SWAT+ you are using. From other comments I found that this check behaves different on different computers. So it was always difficult for me to verify that. But this is definitely something that I will fix in a

[2020-05-05 09:33] chrisschuerz commented on #14
Hi Rafael,

I am really sorry to come back so late to your issues. Last weeks were a bit chaotic.

to your points above:

1. Yes this makes sense to me (although I am not a big fan of sequential calibration). This you could solve in different ways. Either you do your upstream calibration and keep the "best" parameter set for the upstream subbasins and simply add the selected parameters as static v

[2020-05-11 07:50] NicoDallaLibera commented on #12
Hello Christoph,
I installed your SWATplusR package but I'm not able to complete your demo
for SWAT+. The cause is the following error:

*q_sim_plus <- run_swatplus(project_path =
path_plus,+                            output = define_output(file =
"channel",+                                                   variable =
"flo_out",+                                                   unit =
1))Buildi

[2020-05-12 11:36] Jakirullah opened #16 "Error in calibration"
Dear Christoph

I am getting this error message while I am calibrating my newly developed model with SWAT2012. I have noticed all output files are empty.

-----------------------------------------------------------------------------------------------------------
Image#01
![image](https://user-images.githubusercontent.com/18727309/81682029-e2b68e80-9454-11ea-83c4-b8c82118f874.png)
-----------------

[2020-05-19 02:42] huangguacui commented on #15
Hi,

I also got similar error. Hope you can consider it in an update fix @chrisschuerz . Thanks.

Building 1 thread in 'D:/demo/swatplus_rev57_demo/.model_run':
 Completed 1 thread in 0S
Error in system(run_batch, intern = TRUE, timeout = 1) : 'D:/R' not found
In addition: Warning messages:
1: `tz` argument is ignored by `as_date()`
2: `tz` argument is ignored by `as_date()`

R version 4.0.0 (2020

[2020-05-19 06:48] chrisschuerz commented on #12
Hi Nico,

I implemented the if statement to ask for the revision number, because there are large differences between rev 57 and newer ones. This was necessary when many people still used rev 57, but might be more and more obsolete now.

I got already the feedback, that the routine in the code that should figure out the revision number causes issues from time to time. Dou you always encounter this

[2020-05-19 06:50] chrisschuerz commented on #15
Thank you for the feedback! I am really surprised that so many R users now find that issue permanently. I will fix it as soon as possible.

Cheers,
Christoph

[2020-05-19 06:52] chrisschuerz commented on #16
From what you provided I cannot see any issues. Have you checked that the number of years you simulate is longer than the number of years you skip before writing outputs?

Cheers,
Christoph

[2020-05-19 07:30] NicoDallaLibera commented on #12
Hi Christoph,
I run always into that error when I use "run_swatplus" command. Clearly,
I'm using a newer revision of SWAT+ so "rev" command should be unnecessary.
If I did not set "rev" command the code should use the swat+ revision it
finds within the model path, doesn't it?

In addition, I have a question about the sensitivity analysis script. When
you perform FAST or Sobol analysis, why do you

[2020-05-19 08:50] chrisschuerz commented on #12
Hi Nico,

unfortunately the user cannot access the rev variable it is set while running the model. But I will get rid of that in the update of the R package. But you could test to set rev to `rev <- 59.3` outside of the function. Maybe this could be a workaround as when the variable is not assigned internally in the function execution it might access the variable of the global environment.

The di

[2020-05-19 10:32] NicoDallaLibera commented on #12
Hi Christoph,
Many thanks for your reply. I will test your hint about rev command and I
will keep you posted.

Nico

*---------------------------------------------------------------------------------------------------------------Geol.
**Nico Dalla Libera, PhD*

*E-mail: **nico.dallalibera@gmail.com <nico.dallalibera@gmail.com>*
*PEC: **nico.dallalibera@peceasy.com <nico.dallalibera@peceasy.com>*
*

[2020-06-02 18:10] NicoDallaLibera commented on #12
Hi Christoph,
I'm here for asking you about an issue coming out during the sensitivity
analysis. I'm using your code available on GitHub page "02 - Sensitivity
analysis and model calibration".
When I run the global sensitivity code (FAST or SOBOL, it doesn't matter),
often, an R fatal error appears, saying " a fatal error occurs - R session
aborted" but I don't understand why. Sometimes the code r

[2020-06-02 18:36] chrisschuerz commented on #12
Hi Nico,

I did not run the code now for quite a while. But it should actually run. It is the first time that I hear from a user that the entire R session crashes because of running SWAT with SWATplusR.

So I am sorry that I do not have any immediate fixes for that issue.
All the best
Christoph

[2020-07-09 16:08] #16 closed

[2020-07-09 22:53] WillemVervoort commented on #15
This error and the one before is simply in your path. SWATplusR does not seem to like "spaces" in your path name, Try defining project_path that has not "spaces" in the path name.

The tz argument is only a warning, but suggest that there might be something wrong with the translation of dates. This could be problematic, but I am unclear how this would relate to the revision error.

[2020-07-09 22:58] WillemVervoort commented on #15
I am getting exactly the same revision error and the tz warning. I have been digging in the code and when I run things line-by-line I can't reproduce the error, however when I run run_swat_plus() it fails.

The error seems to be generated within translate_outfile_names(). However, again, I cannot reproduce the error if I run this function separately (after defining the inputs required).

I assume

[2020-07-10 18:52] Jakirullah opened #18 "Error in discharge and packages version"
Dear Christoph

Three months before I have successfully calibrated my model with SWATPlusR, but currently I am struggling for 2 weeks. After spending a lot of time and trial error now I could run the model. But I have some issues here and couldn't carry on my calibration. I don't know what I should do now.

**First issue:** after parameter alteration the river discharge is zero. All are zeros. I h

[2020-07-13 09:20] Jakirullah opened #19 "No discharge after parameter alteration"
Dear Christoph

Three months before I have successfully calibrated my model with SWATPlusR, but currently I am struggling for 2 weeks. After spending a lot of time and trial error now I could run the model. But I have some issues here and couldn't carry on my calibration. I don't know what I should do now.

After parameter alteration the river discharge is zero. All are zeros. I have tried with yo

[2020-07-13 09:21] #19 closed

[2020-07-13 19:14] Nahal2 opened #20 "Error in SWATplusR installation"
Hello,
I followed the instruction to install SWATplusR : https://chrisschuerz.github.io/SWATplusR/
But when I ran   `devtools::install_github("chrisschuerz/SWATplusR") `
it gave me the foloowing error:
`devtools::install_github("chrisschuerz/SWATplusR")`
Error in inDL(x, as.logical(local), as.logical(now), ...) :
  unable to load shared object 'C:/Program Files/R/R-4.0.2/library/stats/libs/x64/sta

[2020-07-23 13:22] #20 closed

[2020-07-26 12:23] WillemVervoort commented on #15
@chrisschuerz Chris,
I have found a solution and adjusted the code. I will create a PR tomorrow night for you to approve. It took me quite a while to dig it out.
The error occurs because you have a 1 sec timeout on the batch file run and you need more time on some machines. I have increased it to 3 sec and that solved the problem
If in a later version you remove the version test it should dissappe

[2020-08-10 09:20] #15 closed

[2020-08-20 10:14] florentpapini opened #22 "Error running a modified version of SWATplus"
Hi Christoph,

I am currently developping a modified version of SWATplus with new water routing routines, so I have to use a modified SWATplus.exe file on SWATplusR.

It was working well until recently on both SWATplusR and my Visual Studio project. I did a lot of modifications inside SWATplus and it's still working on my Visual Studio project but not anymore on SWATplusR. Even double clicking on

[2020-08-28 15:03] Svenja-vS opened #23 "Error: Problem with `filter()` input `..1`"
Hello everyone,

I am using SWATplusR for some month now and was able to calibrate a model-project successfully. Recently I included some management operations in a model, which was calibrated and working in SWATplusR before and now I got the following error message:

`Error: Problem with `filter()` input `..1`.
x object 'run_num' not found
i Input `..1` is `!is.na(run_num)`.`

I am now not even a

[2020-08-31 09:36] Svenja-vS commented on #23
Hello again,
More specific the >safe file< comment in the code is causing the error. Below I included the basic run_swat2012 function I am using and I am not able to save my simulation, as I was before in the first version of my model.
`q_sim_test <- run_swat2012(project_path = project_sdc2,
                           output = define_output(file = "rch",

[2020-08-31 11:08] WillemVervoort commented on #23
@Svenja-vS Can you share par_mod?

[2020-08-31 11:34] chrisschuerz commented on #23
Hi Svenja,

I tried to reporduce your error with the demo SWAT2012 rev622 model. I tested the following piece of code:

[code]
This example is quite comparable to your code. It worked on my machine with `SWATplusR` version 0.2.8.9010 (I think it should also work with older versions, as there were nor changes in the save routine).

Could you also maybe provide the following info:
- The version numb

[2020-08-31 11:48] chrisschuerz commented on #13
Is this still an issue that is related to `SWATplusR`? Otherwise I would close it to clean up the package's issue section.

[2020-08-31 11:51] chrisschuerz commented on #12
Hi Nico,

is the issue still present or was it solved? To clean up the issue section of `SWATplusR` I suggest to close this issue. Please reopen it with an updated comment if issues still exist.

Cheers Chris

[2020-08-31 11:51] #12 closed

[2020-08-31 11:52] #13 closed

[2020-08-31 11:52] chrisschuerz commented on #13
If the issue still exists, please reopen the issue with an updated comment on the current status.

Cheers Chris

[2020-08-31 12:33] chrisschuerz commented on #22
Hi Florent,

I think we discussed this issue then via email? To clean up the issues section I would close this issue then. If you want to continue to discuss this issue (if it is  related to `SWATplusR`) I would ask you to reopen this issue with an updated issue description.

Cheers Chris

[2020-08-31 12:33] #22 closed

[2020-08-31 13:56] Svenja-vS commented on #23
Hello again,

Thanks for the quick reply.
Yes @WillemVervoort.  I am using as input for par_mod the following ...

`par_mod <- tibble ("cn2_pinh::CN2.mgt|change = absval | luse %in% 'PINH'" = 35,
                   "cn2_euco::CN2.mgt|change = absval | luse %in% 'EUCO'" = 35,
                   "cn2_eucx::CN2.mgt|change = absval | luse %in% 'EUCX'" = 35,
                   "cn2_eucb::CN2.mgt|change

[2020-08-31 14:31] florentpapini opened #24 "Modified SWATplus version not working with SWATplusR"
Hi Christoph,

You asked me to to reopen the issue if I wanted to continue discuss it, so I will try to be more precise in my description as I still encounter this error.

I am currently developping a modified version of SWATplus with new water routing routines, so I have to use a modified SWATplus.exe file on SWATplusR.

It was working well until recently on both SWATplusR and my Visual Studio pr

[2020-08-31 15:06] chrisschuerz commented on #24
Hi Florent,

thanks for the update. Please send me your executable so I can see the differences between yours and the official exe. Could you also send me a demo project where I can run your exe?

I will have a look into it in the following days.

Best
Christoph

[2020-08-31 15:44] Svenja-vS commented on #23
In addition, when I try to save the demo SWAT2012 rev622 model this is not working as well.
Svenja

[2020-08-31 17:38] chrisschuerz commented on #23
Ah interesting. It worked on my computer but with `SWATplusR` version 0.2.8.9010. Could you update the R package and retry it?

just remove `SWATplusR` from your packages and reinstall from GitHub. This should do the trick:

[code]

The most recent version should be 0.2.8.2011 then.

[2020-09-01 09:12] NataljaC commented on #23
Hello,
I had encountered the same issue with run_swatplus(). After painstaking hours of ... yoga and meditation.. I found a workaround, Just add:
 `run_num <- 1 `
before the run_swat_X()
It is a temporary fix, and I hope that the bug will surface soon.
Best,
Natalja

[2020-09-01 09:38] Svenja-vS commented on #23
Hello,

Good news it is working again. I did the update and with the recent version it is working but I had to change my RStudio version from 4.0.2 to 3.6.0, because SWATplusR is not compatible with the 4.0.2 version of R. Before I had no troubles with that, but okay it is working so :) Thanks.
@NataljaC thanks for the help as well, in case I will have some similar issues again I will try ;)

By S

[2020-09-01 09:46] chrisschuerz commented on #23
@Svenja-vS thanks for the update. This would have been my next question that I forgot to ask in my previous posts, which R version you are using. I did not find time yet, but the update of `SWATplusR` to R 4.x is planned in the next 1-2 weeks.
I hope it is OK for your work to stay with R 3.6.x at the moment.

@NataljaC, thank you for posting the work around here. I will in any case look into the i

[2020-09-01 09:53] NataljaC commented on #23
Indeed, I was using the newest version of R. I did the installations from
scratch just two-three weeks ago.
I will now revert to the old versions and try out things.
Cheers,
Natalja

On Tue, Sep 1, 2020 at 12:46 PM Christoph Schuerz <notifications@github.com>
wrote:

[2020-09-01 10:47] Svenja-vS commented on #23
Yes no worries, for me it's fine to switch the version in R for now.
Thanks for help
Greetings,
Svenja

[2020-09-15 19:47] waterhanBsu opened #25 "Error in if (revision < 57)"
This issue is solved after installing the dev version. Thanks.

[2020-09-15 21:33] #25 closed

[2020-10-21 13:10] rafaelnavas commented on #8
Dear Chris,
I installed SWATplusR again with:
option1: install_github("chrisschuerz/SWATplusR")
option2: install_github("chrisschuerz/SWATplusR", ref = "dev").

In both cases, I getting version 0.2.7 with the bug reported in this issue #8.

However, when I install your package with:
install_github("willemvervoort/SWATplusR", ref="RevisionMod")
the problem is solved since version 0.2.8.9006 is inst

[2020-10-21 13:14] chrisschuerz commented on #8
Hi,

this is odd. The current version of SWATplusR is 0.3.2. Which version of R do you use. The most recent version requires you to have R > R4.0 installed. This could maybe be the reason why `install_github()` tries to install the older version.

Chris

[2020-10-21 13:27] rafaelnavas commented on #8
This is weird,
I'm currently using version R version 4.0.2 (2020-06-22).
Maybe the problems is devtools or windows OS.
Let me check.
Thank you

El mié., 21 oct. 2020 a las 10:15, Christoph Schuerz (<
notifications@github.com>) escribió:

[2020-11-14 19:48] chrisschuerz commented on #23
Hi guys,

it took my way too long to look into this issue. Well but what else would I do on a Saturday evening these days... 🙈
The issue should be fixed with the most recent version 0.3.3.9003. If you are still interested in using the saving to sqlite option with SWATplusR please update the R package and try it.

Cheers
Christoph

[2020-11-14 19:48] #23 closed

[2021-01-03 01:13] waterhanBsu opened #26 "Error in if (revision < 57) { : argument is of length zero"
Dear Chris,

I hope you are having a great start of the new year.

I'm using your SWATplusR packages (0.3.3.9004) in R (R version 4.0.2). I had a hard time using optim to find the best parameter set, as none of the parameters seems to be very sensitive to model performance and always receive the same best NSE value. So I was trying to use SCEoptim function as it can give out more details, but I ke

[2021-01-04 08:59] chrisschuerz commented on #26
Hi Jim,

yes there is now a workaround implemented in `SWATplusR` that solves this issue (as you already use the most recent version you should be fine.

The issue is caused by a small routine that tries to find out which revision of SWAT+ you are using. This is done by running your executable in an empty folder, simply to read out the header of the running exe. I n rare cases this routine can fai

[2021-01-06 03:50] waterhanBsu commented on #26
Thank you, Chris. It worked after adding the revision number within the run_swatplus function. My old question was still there though:
For some reason, my SWATplusR runs are not sensitive to any parameter change except ET. The simulated discharge is very low. I compared the discharge with the output directly run with SWATplusEditor and they are very different. Have you noticed anything that the co

[2021-01-07 08:54] chrisschuerz commented on #26
Hi Jim,

I wanted to come back to the issue that you documented in an edited version of your reply. The behavior you plotted with the comparison between the SWATeditor and running your model from R is odd. THat should in fact not be the case if both use the same executable file. Did you solve this problem or does it still exist?

[2021-01-07 13:40] waterhanBsu commented on #26
Chris, that was my mistake of actually changing the curve number values in calibration.cal file, so I deleted the post. But I have not figured out why my model has no sensitivity with parameters in SWATplusR, Manual calibration in SWATplus Editor did change the model performance. I suspect there is a disconnection somewhere but could not figure out. Thanks for looking into this issue.

[2021-01-11 04:14] Ansh2506 opened #27 "Unable to install SwatplusR"
Hi Chris,

So i tried to install the package, but before that I tried installing the devtools package.

When I run this line of code  devtools::install_github("chrisschuerz/SWATplusR")

I get the following error:
Error: .onLoad failed in loadNamespace() for 'pkgload', details:
  call: loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]])
  error: there is no package called ‘backports’

[2021-01-11 04:51] WillemVervoort commented on #27
Try this
install.packages("backports")
devtools::install_github("chrisschuerz/SWATplusR")

 Willem

On Mon, Jan 11, 2021 at 3:14 PM Ansh2506 <notifications@github.com> wrote:

[2021-01-12 15:22] waterhanBsu commented on #26
Chris, thanks for the help. Yes, the fix of file.cio solved the issue. So after I do calibration and optimization, and get the best set of parameters, do I manually update them in different files in the TxtInOut? I don't find SWATplusR has an option to update them. This may not be directly related to this thread. Let me know if I should open a new thread.

[2021-01-29 13:00] BassoM93 opened #28 "SWAT2012 CN2.mgt problems"
Hello,
I'm having some troubles and encountering different errors when considering CN2.mgt as a variable parameter for my swat2012 simulation in R.

 1. If I consider "CN2.mgt|change = abschg"=runif(10,-25,25)) the output values result all 0. On the other hand, if I restrict the changes to a limited number of subbasins  "CN2.mgt|change = abschg|sub==1:7""=runif(10,-25,25)) the results are acceptab

[2021-02-01 11:15] #28 closed

[2021-04-08 15:23] jsacerot opened #29 "Error in { : task 8486 failed - "use of NULL environment is defunct""
I was running 59,000 simulations on 30 cores. Once SWATplusR finished, I got the following error:
Error in { : task 8486 failed - "use of NULL environment is defunct"

Could you please tell me what is generating the error? how can avoid it in the future and make sure I'll not lose the results of the simulations already run?

Thank you!

[2021-04-08 15:33] chrisschuerz commented on #29
Hi,

the error is new to me. I am sorry that you lost such a large number of simulations.
To avoid this you could save the simulations incrementally using the input argument `save_file = 'give_a_name'`. By defining the save file a folder is generated in the `project_path` containing sqlite databases. You can load the simulations then using the function `load_swat_run(save_dir = 'path/to/give_a_nam

[2021-04-15 01:34] jsacerot opened #30 "Error trying to modify parameters in *.sdr files"
I am trying to modify some of the tile drain parameters in files *.sdr, but SWATplusR returns the following error:

**Error in { :
  task 1 failed - "no applicable method for 'filter' applied to an object of class "NULL""**

Could you please provide me some guidance on how to fix this problem? The parameters that I want to modify are the following:

par_names <- c(**'LATKSATF.sdr|change = absval|l

[2021-04-15 02:27] jsacerot commented on #30
I found an error in my code when defining the parameters using single and double quotation marks. This is the correct form to set the parameters:

par_names <- c("LATKSATF.sdr|change = absval|luse %in% c('CORN', 'SOYB', 'WWHT')",
                   "SSTMAXD_BSN.bsn|change = absval",
                   "DEP_IMP.hru|change = absval|luse %in% c('CORN', 'SOYB', 'WWHT')",
                   "DRAIN_CO.s

[2021-04-15 09:15] chrisschuerz commented on #30
I see. I will look into that. The parameter format when writing the parameter into the file is also off. I am not sure how SWAT will interpret that. I will check that as well.

I hope that I find an answer soon
Best Christoph

[2021-04-15 09:18] WillemVervoort commented on #30
Chris,
this looks like an error related to the use of the function filter in
multiple packages (dplyr, base). You probably just need to insert dplyr::
filter or base::filter or the relevant package to remove this error

Regards
Willem

On Thu, Apr 15, 2021 at 7:15 PM Christoph Schuerz ***@***.***>
wrote:

[2021-04-15 09:25] chrisschuerz commented on #30
@WillemVervoort I think filter is not the issue here. In the function headers I specificly define the functions that are used from which packages they should be taken ( with e.g. `@ImportFrom dplyr filter select`). I will however check if this is done properly in this case.
In any case I also recently found some issues with the subsetting of parameters that I wanted to look into.

[2021-04-15 17:17] jsacerot commented on #30
@chrisschuerz Most SWAT input files are read using free format reading. So, I do not think the displacement issue of the SDRAIN parameter (or any other) in files *.sdr will affect the model:

Line 82 of 'readsdr.f' :  read (112,*,iostat=eof) sdrain(ihru)

[2021-04-15 17:28] jsacerot commented on #29
Probably the model crashed for a given parameter combination or my PC ran out of memory. Could you please tell me how SWATplusR deal with model crashes? Does it set the output results as NA?

Thanks!

[2021-04-15 19:24] chrisschuerz commented on #29
You have to separate two things here:

1. A SWAT run fails, due to any error in the SWAT routine (equal to any error displayed when running SWAT in the shell)
2. Some process in R crashes (this is what happened in your case)

In case 1. `SWATplusR` catches the error and generates an error report. You can find this in the model outputs with the list variable `.$error_report`. This is a tibble that

[2021-04-15 19:26] chrisschuerz commented on #30
@jsacerot Thanks for sharing the respective line of code. Then it should be good. Anyways, the parameter did not change and I will look into that.

[2021-04-15 19:39] #29 closed

[2021-04-18 19:36] chrisschuerz commented on #30
@jsacerot I fixed the issue with the .sdr files. The reason for the issue was that parameters in all table like input files do have 16 digits except the .sdr files. As I never used the .sdr files in the calibration so far I never checked that. In the development version of `SWATplusR` I modified the parameter handling now and made it more flexible for different lengths of parameter values. So it s

[2021-04-19 10:32] chrisschuerz commented on #30
@jsacerot Sorry one minor addition. I had to fix two small things that were not working properly with that fix on all the computers I tested it on. I hope it works now. The most recent `dev` version is now 0.3.4.9006

[2021-04-20 17:00] jsacerot commented on #30
@chrisschuerz Thank you for the update. I am trying to install the dev branch of SWATpluR but it is failing due to the package tibble:

package ‘tibble’ successfully unpacked and MD5 sums checked
Error: Failed to install 'SWATplusR' from GitHub:
  (converted from warning) cannot remove prior installation of package ‘tibble’

 Any suggestions? Thanks!

[2021-04-20 17:30] jsacerot commented on #30
@chrisschuerz Thank you for the update. I installed the dev branch but the command run_swat2012 failed:

Error in str_length(tmp[par_pos]) : could not find function "str_length"

Could you please guide me on how to fix this new issue? Thank you!

[2021-04-20 18:27] chrisschuerz commented on #30
Hi thanks for the info. I found the issue. I just forgot to add a function import in the last version. This is now fixed in version 0.3.4.9007.
If such an issue arises in the future and you need a very quick fix you can just load the R package that contains the function (you can find that out with e.g. `??str_length`). Well this works if the package is installed on your machine. Otherwise just sea

[2021-04-20 19:00] jsacerot commented on #30
@chrisschuerz Thank you for the prompt response. To be honest, I thought that str_lenght was one of the functions of your library. I installed the latest dev version but it seems the changes are triggering more errors:

Error: `nm` must be `NULL` or a character vector the same length as `x`
Run `rlang::last_error()` to see where the error occurred.

<error/rlang_error>
`nm` must be `NULL` or a cha

[2021-04-21 07:03] chrisschuerz commented on #30
sorry my mistake. I forgot to push that fix to the online repo although I had soplved this already locally. This should now be fixed in version 0.3.4.9008.

[2021-04-21 20:33] jsacerot commented on #30
@chrisschuerz For some reason your URL cannot be accessed:

Downloading GitHub repo chrisschuerz/SWATplusR@dev
Error in utils::download.file(url, path, method = method, quiet = quiet,  :
  cannot open URL 'https://api.github.com/repos/chrisschuerz/SWATplusR/tarball/dev'

[2021-04-22 07:28] chrisschuerz commented on #30
Hi I am really sorry for giving you such an unnecessarily hard time :) I tested the compatibility with SWAT+ yesterday night. As it seems to work correctly now with both models I merged everything into the main branch now. So you can install the official version 0.3.4 now from the main branch with `remotes::install_github('chrissschuerz/SWATplusR')`. I hope everything works now as intended. Otherw

[2021-04-22 18:35] #30 closed

[2021-04-23 06:21] chrisschuerz commented on #30
Thanks for the great feedback. Good that it works properly now. It was already planned for a while to keep the strings in the input files while not slowing down the file writing. But the issue you posted was a good motivation to solve that as well. :) I also think it helps.

[2021-04-24 05:35] jkurkif opened #31 "Error in run_swat2012 after update to latest version"
I have been able to successfully run this model through SWATplusR until I updated it to the latest version of SWATplus R (0.3.4). I now get the following error message. It seems to be running the SWAT successfully, but it is not able to read the output.
Thanks

Q_sim_day <- run_swat2012(project_path = proj_path,
                       output = define_output(file = "rch",variable = "FLOW_OUT",

[2021-04-26 07:09] chrisschuerz commented on #31
The code you posted here, worked with my demo setup (except changing the unit, as the demo only has 3 subbasins). I could look into your error, if you can provide me you model setup.

[2021-04-26 21:46] jkurkif commented on #31
Must be a problem with my data structure then. Interesting because it runs fine in ArcSWAT. Thanks for checking.

[2021-04-26 21:46] #31 closed

[2021-05-04 00:55] jsacerot opened #32 "Error using soil layer number as constraint to modify soil parameters"
Hi @chrisschuerz . I do not know what happened but after the release of the latest version of SWATplusR, an error is returned when using soil layer number as a constraint to modify soil parameters:

**Parameters to modify:**
par_mod <- c("SOL_AWC.sol|change = relchg|layer = 1", "SOL_K.sol|change = relchg|layer = 1")

**Error:**
Error in translate_parameter_constraints(par_names, swat_vers) :
  The

[2021-05-04 03:57] jkurkif commented on #31
Just as an update - The problem was that I had ICALEN set to 1 in the CIO file. It needs to be set to 0.

[2021-05-04 05:30] chrisschuerz commented on #31
Thanks for the update. Now I remember that someone mailed me about that issue already a year ago. The error message was however different. But good that you remind me. I should set ICALEN to 0 in the running threads that the date format matches my output reading routines.

[2021-05-04 05:35] chrisschuerz commented on #32
Hi sorry for that. For fixing the issue #30 I had to strongly restructure the SWAT2012 input file handling to consider some exceptions in input file structures that I was not aware of. In the restructuring I might have eliminated the layer option. I will try to reintroduce it in the new input file handling.

[2021-05-04 05:48] jsacerot commented on #32
Thank you, @chrisschuerz!

[2021-05-04 10:56] chrisschuerz commented on #32
@jsacerot I reintroduced the parameter constrain 'layer' in the new version 0.3.5. If you want to test it please update your `SWATplusR` version from the masster branch with `remotes::install_github('chrisschuerz/SWATplusR')`

[2021-05-04 18:32] seyounger opened #33 "channel_day.txt does not exist"
I'm able to run the demo project, but can't get any of my own projects to run. When I call run_swat_plus on my projects I always get the error "[path_to_project]/.model_run/thread_1/channel_day.txt' does not exist."

[2021-05-04 18:36] seyounger opened #34 "Can't install the development version"
When I try to install the development version using the instructions in the readme I get the error, "Error in utils::download.file(url, path, method = method, quiet = quiet,  :
  cannot open URL 'https://api.github.com/repos/chrisschuerz/SWATplusR/tarball/dev'"

[2021-05-05 06:25] chrisschuerz commented on #33
Which revision number is the model you want to run? The newer revisions (59.3 to 60.5) use the output file channe_sd to write the channel outputs. Please change 'channel' to 'channel_sd' in the output definition and give it a try.

[2021-05-05 06:25] #27 closed

[2021-05-05 06:25] chrisschuerz commented on #27
I assume this issue was solved by @WillemVervoort ?

[2021-05-05 06:27] chrisschuerz commented on #34
Sorry. The github pages for `SWATplusR` are pretty outdated. I am working on it to update them. Currently there is no development version. All updates are implemented in the `master` branch.

[2021-05-05 06:32] chrisschuerz commented on #26
@waterhanBsu sorry for this really late reply. A workaround to get a model with your best parameter set is to rerun the model with the best parameter combination. You can set the option `keep_folder = TRUE` to not delete the '.model_run' folder structure in your 'TxtInOut'. After running the model the model in 'TxtInOut/.model_run/thread_1' has the right parametrization.
I planned however to add a

[2021-05-05 06:33] chrisschuerz commented on #26
If it is OK for you I would close this issue. If there are still things to discuss, please reopen this one or post a new issue

[2021-05-05 06:33] #26 closed

[2021-05-05 12:13] waterhanBsu commented on #26
Of course, Chris. Please close it. Thank you for your help during the modeling process.

------------------

Bangshuai Han, Ph.D.
Assistant Professor of Water Resources
Chair of Future Risk Committee of the American Water Resources Association

Environment, Geology and Natural Resources
Ball State University

765-285-5790

https://bangshuaihangroup.weebly{dot}com/<https://bangshuaihangroup.weeblyc

[2021-05-05 17:48] jsacerot commented on #32
Hi @chrisschuerz. Now I am getting this error:

Error: `nm` must be `NULL` or a character vector the same length as `x`
Run `rlang::last_error()` to see where the error occurred.

<error/rlang_error>
`nm` must be `NULL` or a character vector the same length as `x`
Backtrace:
  1. SWATplusR::run_swat2012(...)
 11. purrr::map_df(., ~set_names(.x, par_name))
 12. purrr::map(.x, .f, ...)
 13. SWATplus

[2021-05-05 22:15] jsacerot commented on #32
@chrisschuerz  I performed some tests and discovered that the problem now is with parameters in files *.sub:

                   "CH_W1.sub|change = relchg"
                   "CH_S1.sub|change = relchg"
                   "CH_L1.sub|change = relchg"
                   "CH_N1.sub|change = relchg"
                   "CH_K1.sub|change = absval"

[2021-05-06 06:55] chrisschuerz commented on #32
@jsacerot thanks for looking into it with such detail. It made the search much easier. There was an issue with sub files with different lengths (which is often the case). Version 0.3.5.1 should fix this issue

[2021-05-06 16:00] jsacerot commented on #32
@chrisschuerz Thank you so much. The issue seems to be fixed, and everything is running without problem.

[2021-05-06 16:00] #32 closed

[2021-05-10 17:43] seyounger commented on #33
Thanks, that worked. I'm using 60.5

[2021-05-10 17:43] #33 closed

[2021-05-24 13:54] allixender opened #35 "Question regarding SWAT+ rev. 60.5"
Hi,

is it possible to use SWATPLUSR with the latest SWAT+ rev. 60.5 for calibration? Has something changed between SWAT+ rev59.3 and 60.5. We are struggling with SWATPlus-CUP and consider to try SWATPLUSR, but obviously it would be a big challenge to pick up R etc.

Feel free to move the discussion somewhere else.

Best regards,
Alex

[2021-06-21 06:39] li3uhua commented on #35
Hi,
When I usd SWATplusR to run SWAT+ model, an error occured (Fig. 1).
I followed an advice to change "channel" to "channel_sd", and the model can run successfully.
I checked my print.prt file, both channel and channel_sd were printed and there were "flow_out" variables in these files (Fig.2).
And I would like to ask how I should select these files?

Fig.1
![Snipaste_2021-06-17_10-55-53](https://

[2021-07-13 19:30] seyounger opened #36 "runswat_2012 Error in { : task 1 failed - "Result 1 must be a single integer, not an integer vector of length 0""
I have a swat 2012 project that runs from swat editor. When I try to run from SWATplusR I get the following error. If you can help me figure out what this means I would appreciate it!

[code]

[2021-07-14 08:09] chrisschuerz commented on #36
One reason that I could think of is that the `variable  = "FLOW_OUTcms"` could cause issues. But I actually took care of removing the units. But I would try to use the following `variable  = "FLOW_OUT"` instead, ommiting the unit.

[2021-07-14 11:47] seyounger commented on #36
Thanks for your reply. I posted the wrong version. I tried `variable = "FLOW_OUT"` first and got the same error.

[2021-07-16 16:34] seyounger commented on #36
This error was due to ICALEN being set to 1 for calendar dates rather than 0 for DOY dates. Looks like run_swat2012 only works with DOY dates.

[2021-07-16 16:35] #36 closed

[2021-07-19 07:03] chrisschuerz commented on #36
Hi thanks for posting the solution. This is on my list to implement. It is an easy fix, but I have to find some time to implement it.

[2021-07-30 16:01] seyounger opened #38 "parallel processing hangs up on run_swat2012"
I was previously running many swat 2012 iterations on multiple cores without issue, but now my workers are getting hung up. This happens with the demo project as well as my projects. Sometime I get errors like "forrtl: The operation cannot be performed on a file with a user-mapped section open." Other times there is no error it just gets stuck in an infinite loop and the workers keep running even

[2021-08-04 07:48] chrisschuerz commented on #38
Hi @seyounger This error is new to me. A few things that I could think of:
- If you try to re-run the same thread folders too quickly after cancelling an R session the old processes can be still active and block the new session (this was the case with older R versions e.g. 2.x but I did not encounter that for a while and also the messages where different then).
- Your win10 Antivirus could block t

[2021-08-04 12:12] seyounger commented on #38
Thanks, @chrisschuerz, this is helpful.

Can you tell me what versions of packages SWATplusR is built on? I tried to find that info but didn't know where to look.

[2021-08-04 13:33] chrisschuerz commented on #38
In the R package [DESCRIPTION file](https://github.com/chrisschuerz/SWATplusR/blob/master/DESCRIPTION) I usually add the version that I built and tested the R package with. This is to avoid that users use much older versions of the R package dependencies. But of course it could happen that newer versions also cause a mess up. I will update my packages and see if I run into troubles as well.

[2021-08-04 14:22] chrisschuerz commented on #38
@seyounger A quick update, I just updated all my R package dependencies and ran the demo model with 8 parameter combinations on 4 cores. I indeed encountered an issue with the updated R packages. It was unfortunately a different one compared to what you described above. So I am not sure if the fix I just did to solve the issue that I found is any halpful to you.

[2021-08-06 02:50] natiguvi opened #39 "Not change on files for parameter calibration"
Hi Chriss, I hope you'r well

I'm writing because i'm doing a calibration for a large basin,  I already finished flow calibration and now I want to do sediment calibration, but I've noticed that files used for flow calibration for example ".hru", doesn't change values for sediment parameters, using the last thread saved. How can I solved that? I really appreciate your answer.

Kind regards,

Natha

[2021-08-06 08:09] chrisschuerz commented on #39
Hi,

I think I need some more info to help you with that. Is your model setup SWAT2012 or SWAT+ (I assume 2012)?  Which parameters did you try to change? In SWAT2012 .hru files you should actually be able to change all parameter that are in there. Could you maybe share some code how you wrote the parameter definition?

Best
Christoph

[2021-08-06 16:12] natiguvi commented on #39
Hi, sorry I was tired and forgot to give you more information. This is the code I'm using to define parameters for sce calibration:

par_names <- c( "CH_K2.rte | change = absval | sub == (149,100,101,102,103,104,111,114,115,120,121,123,124,125,129,130,131,132,133,135,138,139,140,141,143,144,145,146,147,148,150)",
  "CH_COV1.rte | change = absval| sub == (149,100,101,102,103,104,111,114,115,120,121

[2021-08-07 03:43] natiguvi commented on #39
I'm also sending you by mail the textinout folder and the R code i'm using if you can please take a look on it.

[2021-08-07 03:49] natiguvi commented on #39
Calibr_Flores_Q.zip
<https://drive.google.com/file/d/1Cd14WaFQpCpB50omyzc4tVvzuvIz3BLg/view?usp=drive_web>
Hi Christoph!

Thank you for your quick response, I already responded in the github thread
but it doesn't let me attach the zip txtinout folder and the R code, so I'm
sending it by this way, I hope you can help me with this issue and sorry
for bothering you. Thank you in advance,

Kind regard

[2021-08-24 12:57] seyounger commented on #38
Thanks for checking. I installed the updated version but that didn't help. Then I set all my packages to the same or as close to the Description version as possible but I'm still experiencing hang ups with no message at all it just stops. I'm now having the same issue with single core optimization runs as well. They will go for several hundred runs but hang before completion. Let me know if there

[2021-08-31 07:19] EdbertoLima commented on #38
Hello  @seyounger,

I am having the same issue, I believe the problem is one of the packages that that works with parallelization of the process - mine just stopped after few updates, and even doing downgrade of the package I could not find a solution.

To solve temporarily my problem I switch to Microsoft R Open 4.0.2, and so far so good. I do not know to explain the technical details, but I hope

[2021-09-01 16:34] dschaffersmith opened #40 "Error using absval parameter modification in SWAT2012"
Hi Chris,

I am using the demo project SWAT 2012 and I am getting an error running simulations when I modify 2 parameters, one using pctchg and one using absval. The error I am getting is

Error in { :
task 1 failed - "Mapped vectors must have consistent lengths:
*`.x` has length 33
*`.y` has length 32"

It works fine if I use pctchg for both or pctchg and abschg.

[2021-09-02 18:25] seyounger commented on #38
Thanks @EdbertoLima

I tried your method but was unable to install SWATplusR under that version of RRO due to dependency incompatibility processx 3.4.5 is required but only 3.4.3 is available.

![Screenshot 2021-09-02 110003](https://user-images.githubusercontent.com/5856879/131896706-42dc9029-d679-49a5-ac59-a832b9c79622.png)

[2021-09-02 18:34] seyounger commented on #38
![Screenshot 2021-09-02 110003](https://user-images.githubusercontent.com/5856879/131896706-42dc9029-d679-49a5-ac59-a832b9c79622.png)

[2021-09-02 19:00] seyounger commented on #38
Okay, I got processx 3.4.5 installed by downloading the tar.gz from the archive and am running under RRO 4.0.2. I'll report back if this works for me or not.

[2021-09-03 18:39] seyounger commented on #38
The workaround from @EdbertoLima to use MRO 4.0.2 seems to work. I've tested it successfully on 3 windows machines. Now that I have a working library I have archived it just in case anything changes and would recommend anyone with a working library to back it up because it may not stay that way. I'm leaving this issue open because this is a workaround not a fix. I wish I understood the code struct

[2021-09-07 13:06] supermollusc opened #41 "Error message at line q_sim_plus"
Hello   I have tried running the code in the vignette at https://github.com/chrisschuerz/SWATplusR/blob/master/vignettes/SWATplusR.Rmd
 and it runs until I get to the line
q_sim_plus <- run_swatplus(project_path = path_plus,
                           output = define_output(file = "channel",
                                                  variable = "flo_out",

[2021-09-13 17:38] gopalpenny opened #42 "Error in if (revision < 57) { : missing value where TRUE/FALSE needed"
TLDR:
The string pattern in the `check_revision` function may require a question mark (i.e., question mark inserted after `\\.` as: `"[:digit:]{1,}\\.?[:digit:]"`) so that it still matches if there is no period in the SWAT version number. I attempted to debug the problem while drafting the full post, which is why it's much longer.

Full post:

I've been having trouble getting SWATplusR to run, in

[2021-10-05 13:29] AndresSaracho opened #43 "bug in: vignettes/01_par_sensitivity.Rmd"
bug in: vignettes/01_par_sensitivity.Rmd
https://chrisschuerz.github.io/SWATplusR/articles/01_par_sensitivity.html

does swat_nse is swat_sobol?
within the sensitivity analysis with the method of sobol

sens_sobol <- sobol(model = swat_nse, X1 = x1, X2 = x2,
                    obs = q_obs$discharge, nboot = 100)

[2021-10-20 08:36] yulis8 commented on #35
Thanks for the advice...

I will try...

[2021-10-31 09:41] mgfasel-unige commented on #42
I get the same error while following the demo and running:

q_sim_plus <- run_swatplus(project_path = path_plus,
                           output = define_output(file = "channel",
                                                  variable = "flo_out",
                                                  unit = 1))

[2021-11-01 07:42] mgf-unige opened #44 "Error: 'D:/Projects/model/test/Scenarios/Default/TxtInOut/NA' does not exist."
I try to use run_swatplus with a project and I get "Error: 'D:/Projects/model/test/Scenarios/Default/TxtInOut/NA' does not exist."

q_sim <- run_swatplus(project_path = "D:/Projects/model/test/Scenarios/Default/TxtInOut",
                      output = define_output(file = "channel",
                                             variable = "flo_out",
                                             uni

[2021-11-01 11:57] mgf-unige commented on #44
Alright. There were missing files that weren't created while building the SWAT model. The model runs without problem but apparently, run_swatplus is looking for some other files. I copied the files from the demo (that works) in my model folder and now the function works...

[2021-11-05 14:17] #2 closed

[2021-11-05 14:18] chrisschuerz commented on #2
I am cleaning up the issues page. As this is not really under discussion anymore I would close this issue.

[2021-11-05 14:21] chrisschuerz commented on #24
@florentpapini I am not sure, but was this ever solved. Sorry to be so sloppy with some of the issues here. Again I would close this issue, to filter out the ones that are the current ones to solve now. If this is still an issue, please again address it.

[2021-11-05 14:21] #24 closed

[2021-11-05 14:22] chrisschuerz commented on #34
I guess the actual issue is answered (Not that the github page has changed since then 🤔 )

[2021-11-05 14:22] #34 closed

[2021-11-05 14:24] #35 closed

[2021-11-05 14:30] chrisschuerz commented on #41
@supermollusc Sorry very late reply. But is there a reason why you want to work with a SWAT+ revision 57 demo? I would in general recommend now to use more recent versions of SWAT+ (at least 60.5) as there were tremendous changes since then. I know that `SWATplusR` allows to use older revisions and I still provide such old demo data. This will however change with newer versions of `SWATplusR` wher

[2021-11-05 14:35] chrisschuerz commented on #42
@gopalpenny Thanks for pointing that out! You are right. and I will add the fix in the code. `check_revision()` is imho just a messy workaround that was necessary with older SWAT+ revisions. In future versions of `SWATplusR` I guess that I will get rid of it unless there will be significant changes in the SWAT file structure.

[2021-11-05 14:38] chrisschuerz commented on #43
@AndresSaracho You are right this should be `swat_sobol` I will restructure the vignette anyways. I hope this happens soon... 🤔

[2021-11-05 14:39] chrisschuerz commented on #44
@mgf-unige  Is it OK to close this issue? Unless not please reopen it

[2021-11-05 14:39] #44 closed

[2021-11-05 15:06] #42 closed

[2021-11-05 15:17] gopalpenny commented on #42
Makes sense, thanks for adding the fix!

[2021-11-06 07:47] mgf-unige commented on #44
Yes, it's OK thank you! Great work btw!

[2021-11-06 19:28] mgf-unige opened #45 "run_swatplus not using the print.prt file in the TxtInOut folder"
In the print.prt file of the TxtInOut, I have set all the yearly outputs to yes. However, when I run run_swatplus, it tells me at the end of the run that the channel.yr file doesn't exist. Indeed, it is not created when running run_swatplus while if I run the swatplus.exe, it is created right away. It seems the run_swatplus is looking for the print.prt file elsewhere? The print.prt in .model_run\t

[2021-11-08 16:47] chrisschuerz commented on #45
@mgf-unige I hope I understood you correctly. You are right. `run_swatplus` does not use the definitions for the outputs that you set in the original TxtInOut folder. The outputs are defined in the thread folders based on what you set as the `output_interval` and based on the output variables that you defined with `define_output`. So if you would set e.g. `define_output(file="channel", variable="f

[2021-11-08 17:03] mgf-unige commented on #45
It indeed works! Thanks for the clarification!

[2021-11-08 17:19] chrisschuerz commented on #45
Great! You are welcome ☺️

[2021-11-08 17:19] #45 closed

[2021-11-12 17:33] chrisschuerz commented on #40
@dschaffersmith could you provide a code example to test it with the demo data set?

[2021-11-12 17:36] chrisschuerz commented on #14
I am closing this as I am not sure if the discussion is still relevant @rafaelnavas please reopen the issue if it needs further discussion.

[2021-11-12 17:36] #14 closed

[2021-11-15 15:22] chrisschuerz commented on #40
@dschaffersmith I just triggered the same error by using the parameter `SURLAG.hru` in a SWAT2012 version where the parameter SURLAG is not present in the `.hru` files and therefore should be defined as `SURLAG.bsn`. Did you maybe use a wrong file extension in the parameter definition of one of your parameters that you wanted to modify?

[2021-11-15 16:55] chrisschuerz commented on #38
@seyounger and @EdbertoLima sorry that it took me so long to figure out what is going on with paralel processing. It took me already a while to systematically trigger the issue that I can work on it. But as I now updated `R` to version 4.1.2 and hence also updated all R packages I was able to trigger the issue very regularly.
The issue is caused by read and write commands from the `readr` package

[2021-12-05 21:59] geoinsight-connect opened #46 "SWATplusR not giving the same results as the "original" run"
I'm a bit confused why I obtain different results in channel_sd_day.txt/channel_sd_day_new.txt between an original run (if I run the SWAT+ .exe directly in the original TxtInOut folder), and the run occurring in the .model_run/thread_1 folder (when I ask run_swatplus to keep the folder)...

I don't use any parameters. I just run 1 initial run directly with the .exe, and then with a simple run_swat

[2021-12-05 21:59] #46 closed

[2021-12-05 22:00] mgf-unige opened #47 "SWATplusR not giving the same results as the "original" run"
I'm a bit confused why I obtain different results in channel_sd_day.txt/channel_sd_day_new.txt between an original run (if I run the SWAT+ .exe directly in the original TxtInOut folder), and the run occurring in the .model_run/thread_1 folder (when I ask run_swatplus to keep the folder)...

I don't use any parameters. I just run 1 initial run directly with the .exe, and then with a simple run_swat

[2021-12-06 07:23] mgf-unige commented on #47
OK, I think I found it... There was an old calibration.cal file created by SWAT+ Toolbox that is not copied by run_swatplus in the run folder (I think it's normal)... "Issue" can be closed then :)

[2021-12-06 07:23] #47 closed

[2021-12-23 13:27] geoinsight-connect opened #48 "Can't subset columns that don't exist. Location 47 doesn't exist. There are only 46 columns"
Hi,

I'm trying to get output for channel_sd and basin_wb at the same time but I receive:

[code]

[code]

It works fine without the `basin_wb` part so I guess the output format for this file has maybe changed ?

[2021-12-23 13:27] #48 closed

[2021-12-23 13:28] mgf-unige opened #49 "Can't subset columns that don't exist. Location 47 doesn't exist. There are only 46 columns"
Hi,

I'm trying to get output for channel_sd and basin_wb at the same time but I receive:

[code]

[code]

It works fine without the `basin_wb` part so I guess the output format for this file has maybe changed ?

[2021-12-23 13:35] mgf-unige commented on #49
Maybe it's because of the "Original Simulation" text in the last column that doesn't have any column name in the basin_wb file...

[2021-12-23 19:50] mgf-unige commented on #49
Same with hru_wb. The hru_wb_aa.txt has 46 columns so I'm not sure why it is looking for a 47th column...

[2022-01-02 15:07] mgf-unige commented on #49
It works after having updated SWATplusR.

[2022-01-02 15:07] #49 closed

[2022-01-14 15:59] #38 closed

[2022-01-14 16:06] #41 closed

[2022-01-21 21:19] MOG91 commented on #44
I'm having the same issue right now, but I haven't identified the missing files. Do you mind sharing what files did you pasted from the demo folder?

Thank you!

[2022-01-21 22:42] MOG91 opened #50 "SWAT+ don't generate the .PCP files required in SWATplusR"
This issue is closely related to #45, when I try to run my own model with run_swatplus, I get the same error:

[code]

And this does not happen with the demo project. When I paste the .PCP files from the demo to my model, it does run, so the NA is generated when run_SWATplus searches for these .PCP files.

[2022-01-22 08:05] mgf-unige commented on #44
Sorry, but I don't remember them now. I compared the two folders to see what files were missing in my model. You can use it in a prompt:

robocopy C:\ModelExampleFolder C:\YourModelFolder /MIR /FP /NDL /NP /L > diff.txt

Then, open the diff.txt file and look for files tagged "New file". There are the files in the example model that are missing in your model (maybe not all of them but I copied all

[2022-01-25 14:01] HaxxenPirat opened #51 "Missing articles"
Hallo Christoph,

nach gut einem Jahr wollte ich mich nochmal an verschiedenen Kalibrierungsmethoden in SWATplusR versuchen, jedoch sind die Artikel in der "article section" scheinbar verschwunden. Dort wird mir nur "Content not found" angezeigt. Weiß nicht, ob dir das bereits an anderer Stelle mitgeteilt wurde :-)

Viele Grüße
Alex N.

[2022-01-25 16:22] #40 closed

[2022-01-25 16:23] chrisschuerz commented on #43
The github page that showed this issue is currently modified (see also issue #51). Thus, I will close this thread.

[2022-01-25 16:23] #43 closed

[2022-01-25 16:46] MOG91 commented on #50
Thanks for your reply Chris! Yes, I'm currently using only simulated data. Is there a way to use SWATplusR with such model or what would be a quick workaround for this issue? Adding a single precipitation station would allow the run_SWATplus function to run? Do you have any suggestions? Again, thank you so much and thank you for developing this tool.

[2022-01-26 12:43] chrisschuerz commented on #50
I will change this in the code (but I guess not before next week) that you can also run the model without weather data and only get a warning that there are no input data for the period you want to run simulations.
In the meantime you can use the [dummy.pcp.txt](https://github.com/chrisschuerz/SWATplusR/files/7941732/dummy.pcp.txt) file that I added here to fool the R code ☺️ You have to replace t

[2022-01-27 01:44] MOG91 commented on #50
Yes, it works! Thank you very much for your help.

[2022-01-27 12:40] HaxxenPirat commented on #51
Sure, my bad, didn't think of it.
Alright, sounds promising :-) Thanks for continuing your work!
And yes, I would like to take you up on the offer, you can send them to alexander.ney@nw-fva.de. Thank you!

PS: Congrats on your new job!

[2022-01-31 14:13] pekr01 opened #52 "time.sim file missing"
Dear Christoph,

I tried to run my SWAT + project with your package, but I got an error message that 'project // time.sim' does not exist in the current working directory, despite that the file is in this directory.

The demo project works well, so there's probably something different in my project.
Do you have any idea?

Petr

[2022-02-11 13:23] chrisschuerz commented on #52
@pekr01 one thing I can think of is that you probably used blanks in your project folder name? This could cause issues with file paths. Otherwise this would be odd that it can find the same file in the demo project while it cannot find it in your own project.

[2022-02-14 18:58] pekr01 commented on #52
@chrisschuerz  Thank you for answer. No, the folder name is not a problem. It's a really weird thing. Perhaps there's a link to my project file https://uvgz-my.sharepoint.com/:f:/g/personal/krpec_p_czechglobe_cz/EkWYF90NERxCvgi-LGQcQd8BMxit-ux40Q45XUZyogxbtg?e=kljQFf

It is of course still possible that problem is somewhere between chair and computer :D

[2022-02-22 17:49] seyounger opened #53 "run_swat2012 can't find linux executable for user project"
On linux the function run_swat2012 works fine for the demo project but fails for a user-created project. It says it cannot find the executable even though it is in the project folder. Any advice is appreciated.

[code]

[2022-02-22 17:54] chrisschuerz commented on #52
I will look into the project. Hope I can find something. Yes unfortunatly the latter error you describe is present far too often. This is definitely true for myself and my computer :)

[2022-02-22 17:57] chrisschuerz commented on #53
@seyounger On Linux it is a bit harder to identify which file the actual executable is, or at least it is for me and might not apply to more experienced programmers. Could you check the file properties of the executable that you copied to your project. In the properties where you define read write access etc. you should also be able to define the file to be executable. Maybe this does the trick.

[2022-02-22 18:50] chrisschuerz commented on #52
Hi I just had a look into your project. Btw. is this really still a rev57 project (at least thats what the executable in your folder says)? The input files however say that they were generated with Editor version 2.0.1, so actually pretty recent. I would not have been sure about fully guaranteing `SWATplusR` runs smoothly with such an old revision anyways. I tried a few different executables and r

[2022-02-22 19:53] hinckleyb opened #54 "Cannot allocate vector of x size"
Hey Chris,

I ran into this issue when I tried to run swatplusR on a rather large dataset. I'm running this on a computer with ~32 gigabytes of RAM on it. It's odd because the error message is smaller than the memory.limit allotted to R. When I run this code it fails and I get this error. If I rerun the code, it runs but gives odd output and is accompanied with a warning message "model.run folder

[2022-02-22 21:24] seyounger commented on #53
@chrisschuerz Ah, thanks. I had to do: chmod +x swat2012_rev637

However, now I keep getting an error about "model_setup" after the run with no outputs printed.

[code]

Is there something different about defining outputs for unix? I looked through the docs but didn't find anything. Thanks!

[2022-02-23 18:06] #53 closed

[2022-02-23 18:08] seyounger opened #55 "problem with version 0.5.2 - argument "model_setup" is missing, with no default"
I thought this was specific to linux but it turns out I get the same error on windows. Seems to be related to recent changes in 0.5.2

[code]

[2022-02-23 21:04] seyounger commented on #55
If anyone else runs into this I was able to install the previous release, which works.

```devtools::install_github("chrisschuerz/SWATplusR@200708a2627fed0754f2ec9f82f3d2e1af16ea38", force = TRUE)```

[2022-02-24 07:33] chrisschuerz commented on #54
Hi Brian,

yes it seems to me that you run out of RAM when the channel output file is read. You could check the file size (or at least get an idea about it) when you run the model from the TxtInOut folder and just see how large the channel output files are.

In my experience the size value that is printed in the error message is not really related to the memory limit. I think (not know! :)) that t

[2022-02-24 07:34] #50 closed

[2022-02-24 07:36] chrisschuerz commented on #55
@seyounger Thanks for the info. I might have messed up something when I updated some other things in `SWATplusR`. I will look into that. In the meantime it might be the best workaround to use an older version as you suggested.

[2022-02-24 08:24] chrisschuerz commented on #55
@seyounger I just fixed the issue. The changes in the update to rev 0.5.2 did not consider SWAT2012. I updated `SWATplusR` now to version 0.5.3. This version should also work with SWAT2012 again.

[2022-02-24 12:54] seyounger commented on #55
Thanks, @chrisschuerz. version 0.5.3 does work

[2022-02-24 12:54] #55 closed

[2022-02-24 15:08] hinckleyb commented on #54
Thank you for the reply! I'll post again if we find a work around outside of using a bigger computer!

Brian

[2022-03-03 18:53] pekr01 commented on #52
Hi, thank you for trying to find a solution. Yes, I tried the old revision despite that the project was set up with the latest version of the editor. Could you please share the rev60.5 file? Older revisions seem to be only available somehow packed in older swat editors.

[2022-03-07 02:49] MOG91 opened #56 "Error: no such table: date"
Hi Chris,

When I use save_file and save_path in run_swat2012 in version 0.5.3, I get the error "Error: no such table: date". Otherwise, I don't have any issues.

[2022-03-10 01:37] seyounger opened #57 "SWAT2012 PLANT_ID parameter is truncated with varying .mgt input formats"
Some SWAT2012 model creation tools like [HAWQS](https://hawqs.tamu.edu/#/) produce .mgt files with different spacing than ArcSWAT. For files with this different spacing some PLANT_ID's get modified when the parameters are modified, but not if parameters are left alone. Two digit PLANT_ID's get truncated to only their first digit. 10 and 15 both become 1. I wonder if there is a simple way to addres

[2022-03-10 18:29] chrisschuerz commented on #57
OK interesting I will have a look into that. It should actually take all of the first 16 digits of a line and generate a numeric from it.

[2022-03-11 08:22] chrisschuerz commented on #52
Sure. You can find the revision that worked for me here: https://nc.ufz.de/s/B7Ct2XmBYieSeN7 (password: wbNBqXQb ). Please be aware, however, that the simulation of the hydrology could be different with this revision, as at the moment parts of the code are still under development. But just give it a try with the rev60.5 and see if it works for you.

[2022-03-11 08:25] chrisschuerz commented on #56
Yes I am sorry for that. The save load functions likely fail to work with version 0.5.3. The reason is that in the last commits I updated the reading of the dates from the simulation results. I did not update the saving and loading to and from sqlite yet. I hope I find time to fix that the next two weeks.

[2022-03-11 09:11] chrisschuerz commented on #57
@seyounger I just tested it with a small example. I did not receive any .mgt files as you did and PLANT_ID remains to be a 3 digit number. Also the formatting of the values is different in my case, as `run_swat2012` writes tabular parameter values always as 16 digit float numbers with leading blanks, which is not the case in the example you provided. I am sorry I cannot reproduce what you got.

[2022-03-11 16:54] seyounger commented on #57
Thanks for looking, @chrisschuerz ! I will close this since it seems to be a HAWQS issue. I should have included an example. In case you have a chance to take another look [here is a scenario with an offending file](https://www.dropbox.com/s/sjt41ute814nsli/HAWQS_mgt.zip?dl=0). One of the problem files is 000760116.mgt

[2022-03-11 16:54] #57 closed

[2022-03-11 19:40] MOG91 commented on #56
Thank you for your reply and keep updating this amazing package.

[2022-03-14 03:42] Yang2Rechard opened #58 "Error when add_date=T"
Error in `bind_cols()`:
! Can't recycle `..1` (size 12168) to match `..2` (size 312).
this error occured when excute run_swatplus with rev60.5.3,the project contains 39 channels, and ran at monthly interval for 26 years, when the add_date = F, everything is alright, while ad_date = T, which is the default case, the above error occured, I think there is a bug in the function to get date, or is ther

[2022-03-14 03:43] Yang2Rechard commented on #58
this error occured when excute run_swatplus

[2022-03-15 05:47] chrisschuerz commented on #58
@Yang2Rechard Yes I apparently introduced this issue when I implemented a different way to read dates for SWAT+ model runs. I fixed this issue now. The updated version `SWATplusR 0.5.5` should work again.

[2022-03-15 05:48] #58 closed

[2022-04-07 01:52] pletzer opened #59 "Allowing for multiple concurrent runs"
Hi @chrisschuerz

Thanks for providing SWATPlusR. Is there a way to run multiple realisations of SWATPlusR? This assumes that each realisation writes to a different output directory, I would assume. Being able to run multiple realisations would allow us to scale our calibration/optimisation on massively parallel platforms.

My script
---------
library(SWATplusR)
library(dplyr)
#!/usr/bin/env Rscri

[2022-05-04 09:26] chrisschuerz commented on #56
Sorry that it took much longer than expected. But working with SQLite databases to incrementally save and load simulations is working again. To test it please update `SWATplusR` to version 0.6

[2022-05-04 09:26] #56 closed

[2022-05-04 09:26] #52 closed

[2022-05-11 20:33] mgf-unige opened #60 "Weather data in another folder"
Just to mention that nowadays, it is be possible to put the weather files in a separate folder inside the TxtInOut directory to make things a bit cleaner if there is a lot of weather files.

The end of the files.cio will then look like so (e.g. if the weather files are in ...\TxtInOut\weather\ on Windows):

[code]

Currently, run_swatplus seems to fail when using a additional folder like this...

[2022-05-17 00:51] EdM44 opened #61 "modifying RFINC in SWAT 2012 doesn't work"
#Using the demo:
demo_path <- 'Z:/ECC/Desktop/ceng162/swat_examples/demo'
path_2012 <- load_demo(dataset = 'project',
                       path = demo_path,
                       version = '2012')
q_sim_2012_2 <- run_swat2012(project_path = path_2012,
                             output = list(q = define_output(file = 'rch',
                                                             variable

[2022-05-17 15:12] EdM44 commented on #61
I wanted to add that I understand the main function of SWATplusR is to facilitate calibration, and climate change is not part of that. In addition, changing these parameters directly in the .sub files is not that difficult. I was just thinking that exploring basin sensitivity to changes in temperature and precipitation is a useful capability, and I hope it can be implemented in this package. It ma

[2022-05-17 15:24] chrisschuerz commented on #61
@EdM44 it is not a user error, this I can tell you alread :) You are right I did not think of including these parameters in the parameter modification routine. The simple reason is that those mixed input files with parameters in columns and parameters in lines are just more work to implement. So I focused on the relevant ones. If this is something of interest to many SWAT2012 users I can think of

[2022-05-17 15:39] EdM44 commented on #61
Thanks for the reply and the clarification! My needs are limited, since I am currently using SWAT for teaching only. I'll also be migrating to SWAT+ next time around. But if you hear from others interested in modifying these parameters using your package, I'd be glad to help in testing.

[2022-06-09 17:02] mgf-unige opened #62 "plaps/tlaps basin parameters not modified"
It seems plaps and tlaps parameters in the parameters.bsn are not modified when there are included in the "parameter" tibble of the run_swatplus function. Eg.g using the code below:

[code]

While run_swatplus is running, I looked at the values in all the thread_x folder and it seems there are all the same, set at the default value for both parameters.

[2022-06-09 19:50] mgf-unige commented on #62
Or maybe the parameter values in calibration.cal overwrite the one in parameters.bsn? If it's the case the issue can be closed then...

[2022-06-14 11:10] chrisschuerz commented on #62
@mgf-unige yes it is a bit unfortunate, but with SWAT+ and calibration.cal you are not able to fully verify if a parameter change actually happened. The changes are done internally while the model is executed and are not applied to the input files directly (as it was the case with SWAT2012). The only thing that you cand do is run a small set of simulations with parameter changes and check if the c

[2022-06-14 11:10] #62 closed

[2022-06-14 11:18] mgf-unige commented on #62
@chrisschuerz OK, thanks!

[2022-07-27 14:36] rafaelnavas opened #63 "lwq files: changing parameter"
Hello Christoph
Parameter alteration for .lwq files (reservoir water quality data) seems to be not available for run_swat2012().
Thank you,
Rafael

[2022-09-09 13:40] chrisschuerz commented on #63
Hey @rafaelnavas sorry missed this issue over summer...
I never had a .lwq file in my model setups. Are they standard input files?

[2022-09-09 16:08] rafaelnavas commented on #63
Hello Christoph,
This file if present only if there are a reservoir in the model.
I can share a model with a reservoir if you need.
Rafael

El vie., 9 de septiembre de 2022 10:40 a. m., Christoph Schuerz <
***@***.***> escribió:

[2022-09-10 13:58] chrisschuerz commented on #63
Ah OK good to know. With SWAT2012 I never worked with reservoirs. If you share a model I could have a look at it. I am travelling for a few weeks from next week on. So it might take a while before I can look into it.

[2022-09-19 20:49] rafaelnavas commented on #63
Hello Christoph,
The following link contains a swat2012 model with two reservoirs.

https://drive.google.com/file/d/1kkX6OaucG4P3ngakuyuDaKNStwbiQnXP/view?ts=6328bc75

The reservoir water quality files (.lwq) are set for subbasins 13 and 22:

000130000.lwq
000220000.lwq

Thank you,
Rafael

El sáb, 10 sept 2022 a las 10:59, Christoph Schuerz (<
***@***.***>) escribió: